<!DOCTYPE html>
<html>
  <head>
    <title>Social Video Live</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-center">
      <a class="navbar-brand" href="/">MyInstaface Live</a>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
